page-personne {
    .icon-home {
        color: white;
    }
    .button {
        background: #488aff;
        margin-bottom: 5px;
    }
    .accueil {
        text-align: center;
    }
    .btnacc {
        height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
    }
}