page-stand {
    .button-list {
        border-radius: 10% / 55%;
        background: #C51B5E;
        margin-bottom: 5px;
        color: white;
    }
    .icon-home {
        color: white;
    }
    .accueil {
        text-align: center;
    }
    .btnacc {
        height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
    }
}