page-presentation {
    .button {
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 50px;
        margin-bottom: 40px;
    }
    ion-list {
        text-align: center;
    }
    .icon {
        font-size: 25px;
    }
}