<ion-header>

  <ion-navbar>
    <ion-title>Jeu de Piste</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>
    <p>
      {{todo.title}}
    </p>
  </h3>
  <!--Avant le Code : -->
  <h6>
    <div>
      <ion-label *ngIf="!codeBon" text-center>Stand n°</ion-label>
      <ion-input *ngIf="!codeBon"  type= "text" [(ngModel)]="todo.numStand" text-center></ion-input>
      <ion-label *ngIf="!codeBon" >Rendez vous sur le stand trouvez le code </ion-label>
      <ion-label *ngIf="!codeBon" >et insérez le ci-dessous </ion-label>
    </div>
  </h6>


  
  <!--Saisie du code-->
  <ion-item *ngIf="!codeBon">
    <ion-label *ngIf="!codeBon"  >Code :  </ion-label>
    <ion-input *ngIf="!codeBon"  type="text"  [(ngModel)]="codeEnigme"></ion-input>
  </ion-item>
  
  <br/>
  <button *ngIf="!codeBon"  ion-button round (click)="onClickCode()" class="debutJeu">Afficher l'énigme</button>
  <ion-label *ngIf="erreurCode" color="red"  ><strong> Code incorrect ou mal écrit </strong></ion-label>
  



  <!--Après code : -->
  <h6>
  
  <div *ngIf="repAValider"  [innerHTML]="todo.description" text-left></div>    
  <img *ngIf="afficherImage" src={{todo.image}} class="center">
  
  </h6>
  <br/>



  <!--Saisie de la réponse-->
  <ion-item *ngIf="repAValider">
    <ion-label *ngIf="repAValider"  >Réponse :  </ion-label>
    <ion-input *ngIf="repAValider"  type="text"  [(ngModel)]="reponseDonnee"></ion-input>
  </ion-item>
  <br/>



  <!--Traitement de la réponse-->
  <button *ngIf="repAValider"  ion-button round (click)="onClickEnigme()" class="debutJeu">Valider</button>
  <ion-label *ngIf="erreurRep" color="red"><strong> Réponse erronée ou mal écrite </strong></ion-label>



  <!--Validation avant l'affichage de la prochaine énigme-->
  <ion-label *ngIf="reponseBonne" color="lime"><strong> Bonne réponse ! </strong></ion-label>
  <br/>

  <h6>
    <div *ngIf="reponseBonne"  [innerHTML]="todo.commentaireFin" text-left></div>    
  </h6>
  <br/>
  <button *ngIf="reponseBonne"  ion-button round (click)="onClickValideEnigme()" class="debutJeu">Passer à l'énigme suivante</button>




</ion-content>
