page-recherche-theme {
    .button {
        background-color : #f53d3d;
        text-align: center;
        margin-bottom: 5px;
        color: white;
        font-weight: bold;
    }
    .accueil {
        text-align: center;
    }
    .btnacc {
        height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
    }
}