page-info {}

.tab-button:nth-child(1) {
    color: #fff;
    /*your  text color */
    background: linear-gradient(to top right, #ff9933 0%, #ff5050 100%);
    /* your background color*/
}

.tab-button:nth-child(2) {
    color: #fff;
    /*your  text color */
    //background: linear-gradient(to bottom right, #00cc66 0%, #3ea843 100%);
    background: linear-gradient(to top right, #ff9933 0%, #ff5050 100%);
    /* your background color*/
}

.tab-button:nth-child(3) {
    color: #fff;
    /*your  text color */
    //background: linear-gradient(to bottom right, #00ffff 0%, #55acee 100%);
    background: linear-gradient(to top right, #ff9933 0%, #ff5050 100%);
    /* your background color*/
}


/* l'onglet active
.tab-button[aria-selected=true] {
    background: yellow;
}*/