// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Changement de la couleur du fond
.background {
    background: #EEEDEB;
    
}

legend{
    color: #C51B5E;
    font-size: 113%;
	font-Weight: Bold;
}
.back {
    background: #2c68e0;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2c68e0 0%, #2989d8 20%, #fafc8f 84%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c68e0 0%, #2989d8 20%, #fafc8f 84%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffcc99 17%, #66ccff 84%);
    /*linear-gradient(top, #2c68e0 0%, #2989d8 20%, #fafc8f 84%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover;
    display: block;
    font-family: 'Catamaran', sans-serif;
}

ion-title {
    text-align: center;
    font-size: 100px;
}

ion-content {
    text-align: center;
}

.icon-md,
.icon-ios,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-md,
.back-button-text-md,
.back-button-text-ios {
    color: white;
}

$SIDEMENU_TOP: #ff6600;
$SIDEMENU_BOTTOM: #f6a72a;
.toolbar-background-md,
.toolbar-background-ios {
    background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    // Ici le changement de couleur du header
    background: linear-gradient(to top left, #2E3547 , #4D5F7A )
}

// Material Design Sidemenu
.app {
    ion-header {
        //padding: 5px 15px;
        background-image: url('../assets/img/logo_festival.png');
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 30%;
        color: white;
        .name {
            font-weight: 500;
        }
    }
    .user-avatar {
        max-width: 125px;
        height: 125px;
        padding: .5em;
        height: 12vh;
        border-radius: 51px;
    }
    h3,
    .label,
    {
        color: #999;
        font-weight: 400;
    }
    ion-icon {
        color: #C51B5E;
        font-size: 1.8em;
        margin-right: 7px; 
    }

    //Ici changement de couleur des différents onglets dans le menu
    p {
        color: #C51B5E;
        font-weight: bold;
        font-size: 0.8em;
    }
}
