page-mode-emploi {
    ion-content {
        text-align: center;
    }
    h2 {
        text-decoration: underline;
        font-family: Verdana;
        background-size: 75px;
    }
    .h2rouge {
        width: 75%;
        margin: auto;
        background: white;
        color: #C51B5E;
        border-radius: 10px;
        font-size: 100%;
        font-weight: bold;
        border: 2px solid #C51B5E;
        text-align: center;
    }
<<<<<<< HEAD
    /* Background en dégrader mais titre en noir*/
   
=======
   
   .cadreRond
    {
         border-radius: 10px 10px 10px 10px;
         
    } 
>>>>>>> 514d2b0bd739409ab24e7e7d24e1e74cd5957f8f
}