    page-lycee {
        table {
            text-align: center;
            border-collapse: separate;
            margin: auto;
        }
        td {
            border-bottom: 1px dashed black;
            padding: 2px;
        }
        .colour {
            color: blue;
            font-style: italic;
            font-size: 22px;
        }
        font-size: 15px;
        ion-content {
            text-align: center;
        }
    }