    page-lycee {

        .field
        {
            
	        border:1.5px solid black;
            -moz-border-radius:8px;
            -webkit-border-radius:8px;	
            border-radius:8px;	
	        margin-bottom: 5%;
            background: white;

        }

        .titre
        {
            color: #C51B5E;
        }

       


       
    }