<!--
  Generated template for the RecherchePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Vous recherchez...</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="background" padding>
    <button class="button" ion-button class="btn" (click)="stand()"><ion-icon name="home"></ion-icon><ion-label>Stands</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="theme()"><ion-icon name="home"></ion-icon><ion-label>Themes</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="rdv()"><ion-icon name="calendar"></ion-icon><ion-label>Rendez-vous</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="exposants()"><ion-icon name="contact"></ion-icon><ion-label>Exposants</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="livres()"><ion-icon name="contact"></ion-icon><ion-label>Livres</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="auteurs()"><ion-icon name="contact"></ion-icon><ion-label>Auteurs</ion-label></button><br>
    <button class="button" ion-button class="btn" (click)="favoris()"><ion-icon name="star"></ion-icon><ion-label>Mes favoris</ion-label></button><br>
    
    <button *ngIf="jeton.isConnected()" class="button" ion-button color="primary" (click)="configPlan()">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Config. plan</ion-label>
    </button><br>

    <button *ngIf="jeton.isConnected()" class="button" ion-button color="primary" (click)="frmListeRdv()">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Frm liste RDV</ion-label>
    </button><br>
</ion-content>